<div class="row content">
  <div class="row">
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Anouk.jpg">
      De zangeres van de band
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Kay.jpg">
      Kay Gommans. Speelt gitaar en is altijd wel in voor een lekkere solo.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Luuk.jpg">
      LUUKERT!!!!
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Duco.jpg">
    </div>
    Duco
  </div>
  <div class="row">
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Joep.jpg">
      Joep
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Mark.jpg">
      De man die de teksten zou verzinnen maar dit niet heeft gedaan. Verder drumt die volgensmij ook nog.
    </div>
  </div>
</div>
