<div class="row content">
  <div class="row">
    <div class="col-xs-6">
      <div class="center">
        <img style="width:100%;" src="images/the-fools.jpg">
        Voorbeeldtekst Bkablabasdk;j;lkj;lkj;lkjckckckcasfd sdfsdfsffds asdfsafdfsafdf asdfsffsfsfsd sdffsdfsd
      </div>
    </div>
    <div class="col-xs-6">
      <div class="center">
        <img style="width:100%;" src="images/the-fools.jpg">
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-6">
      <div class="center">
        <img style="width:100%;" src="images/the-fools.jpg">
        Voorbeeldtekst Bkablabasdk;j;lkj;lkj;lkjckckckcasfd sdfsdfsffds asdfsafdfsafdf asdfsffsfsfsd sdffsdfsd
      </div>
    </div>
    <div class="col-xs-6">
      <div class="center">
        <img style="width:100%;" src="images/the-fools.jpg">
      </div>
    </div>
  </div>
</div>
