<div class="cooletext" class="row content">
  <div class="row">
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Anouk.jpg">
        <div align=center><div style="font-size:20px;">Anouk Bus</div><div style="padding-top:5px">Zang</div></div>
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Kay.jpg">
        <div align=center><div style="font-size:20px;">Kay Gommans</div><div style="padding-top:5px">Gitaar, Zang</div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 spacing">
      <a target="_blank" href="https://www.instagram.com/luuktoone/?hl=nl" alt="luukieinsta"> 
        <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Luuk.jpg">
      </a>
      <div align=center><div style="font-size:20px;">Luuk Toonen</div><div style="padding-top:5px">Basgitaar</div></div>
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Duco.jpg">
        <div align=center><div style="font-size:20px;">Duco Berkers</div><div style="padding-top:5px">Gitaar, Zang</div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Joep.jpg">
        <div align=center><div style="font-size:20px;">Joep Wijnhoven</div><div style="padding-top:5px">Keys</div></div>
    </div>
    <div class="col-sm-6 spacing">
      <img style="width:80%; margin-left: auto; margin-right: auto; display: block;" src="images/biography/Mark.jpg">
        <div align=center><div style="font-size:20px;">Mark Jans</div><div style="padding-top:5px">Drums</div></div>
    </div>
  </div>
</div>
