
<div class="row content">
  <p>
    <img src="images/the-fools.jpg" alt="the-fools" width="100%"/>
  </p>
  <p>
    Wij zijn Randy Groenewoud (Oss), Luuk Toonen (Overloon), Kay Gommans (Overloon), Anouk Bus (Ledeacker), Joep Wijnhoven (Overloon) & Mark Jans (Overloon).
    Wij zijn met z'n 6e een Coverband gestart omdat we onze liefde voor muziek graag willen uiten.
  </p>
  <p>
    Wij staan garant voor een hoop herrie en gekte op het podium.
    We stoppen niet met spelen tot 100% van uw ruiten aan diggelen liggen, of het dak er helemaal vanaf is!
  </p>
  <p>
    Wij houden er van om flink te knallen op het podium, daarom kiezen wij ervoor om onze muziekstijl te vergelijken met alternative-Rock.
    Zelfs de meest rustige Ballades zetten wij om in stevige spring en knal muziek.
  </p>
  <p>
    Ons Repertiore, denk aan o.a.:
    Kryptonite, Summer of 69, Enter the sandman, pennywise en veel meer van dit soort knallende muziek.
  </p>
</div>
