
<div class="row content">

  <img src="images/the-fools2.png" alt="the-fools" style="opacity: 1.0; width:75%; margin-left: auto; margin-right: auto; display: block;"/>

  <br>
  <p>
    De Band "The Fools" is opgericht in April 2015. Als stel gekke dorpsgenoten gingen een aantal van ons aan de slag om nummers te gaan repeteren. Later werden aan de opstelling de overige bandleden toegevoegd. Iedereen van ons heeft een "Crazy" persoonlijkheid en dat maakt deze band zo uniek. 
  </p>
  <p>
    Wij staan garant voor een hoop herrie en gekte op het podium. We stoppen niet met spelen tot 100% van uw ruiten aan diggelen liggen, of het dak er helemaal vanaf is!
  </p>
  <p>
    Met nummers uit de 80's & 90's en een vleugje Top 40 keren wij de meest normaal plaatsen binnenstebuiten. Ballades & Janknummers worden omgezet zodat het publiek helemaal los kan gaan op onze nummers. Niemand is meer veilig voor "The Fools". 
  </p>
  <p>
    Een kleine greep uit ons Repertiore:
    3 Doors Down, Bryan Adams, Cranberries, Black keys, Anouk & Greenday.
  </p>
</div>
