<div class="gallery">
    <a href="images/stevensbeek/plaatje1.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje1.jpg"></a>
    <a href="images/stevensbeek/plaatje2.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje2.jpg"></a>
    <a href="images/stevensbeek/plaatje3.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje3.jpg"></a>
    <a href="images/stevensbeek/plaatje4.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje4.jpg"></a>
    <a href="images/stevensbeek/plaatje5.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje5.jpg"></a>
    <a href="images/stevensbeek/plaatje6.jpg" data-caption="Ut Fust-Stevensbeek"><img src="images/stevensbeek/thumps/plaatje6.jpg"></a>
</div>