<div ng-repeat="value in result">
<h2 align="middle">{{value.name}}</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Datum</th>
    <th>Tijd</th>
    <th>Plaats</th>
    <th>Cafe</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="optreden in value.tours">
      <td>
        <div class="hidden-small-screen">
          {{optreden.date | date:'d MMMM yyyy'}}
        </div>
        <div class="visible-small-screen">
          {{optreden.date | date:'d MMM'}}
        </div>
      </td>
      <td>
        <div ng-show="optreden.typeOfParty == 'open'">
          {{optreden.begintime && optreden.endtime ? optreden.begintime + "-" + optreden.endtime : (optreden.begintime || "----")}}
        </div>
        <div ng-show="optreden.typeOfParty != 'open'">
          Besloten
        </div>
      </td>
      <td>
        {{optreden.place}}
      </td>
      <td>
        {{optreden.typeOfParty == 'open' ? (optreden.cafe || "----") : 'Besloten'}}
      </td>
    </tr>
  </tbody>
</table>
</div>

