.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: #FFA500;
}

@font-face {
  font-family: 'Outrun future';
  font-style: normal;
  font-weight: normal;
  src: url('/font/Outrun future.otf') format('opentype');
}

.spacing {
  margin-bottom: 15px;
}

a:hover {
  color: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  color: #000000;
}

body {
  background-color: #222;
  padding: 0;
}

.background {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #484848;
}

.header {
  background-color: #222;
}

.navbar {
  margin-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.content {
  padding-left: 15px;
  padding-right: 15px;
}

.cooletext {
  font-family: 'Outrun future', serif;
}

h2 {
  font-family: 'Outrun future', serif;
}

.navbar-inverse .navbar-brand {
  font-family: 'Outrun future', serif;
  font-size: 23px;
  color: #FFA500;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: 'Outrun future', serif;
  color: #FFA500;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #FFA500;
  background-color: #222;
  border-top: 1px solid #080808;
}

.header,
.footer {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

.visible-small-screen {
  display: block;
}

.hidden-small-screen {
  display: none;
}

.viewClass {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 200px;
  background-color:rgba(0,0,0,0.7);
  color: #FFFFFF;
}

.gallery a img {
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
  object-fit: cover;
   object-position: center;
}

.gallery a:last-child img {
  margin-bottom: 0px;
}

.gallery a:nth-child(even) img {
  float: right;
}

.gallery a:nth-child(odd) img {
  float: left;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .viewClass {
    min-height: 500px;
  }

  .navbar-nav {
    margin-right: -15px;
    float: right;
  }

  .background {
    background: url("/images/achtergrond.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .visible-small-screen {
    display: none;
  }

  .hidden-small-screen {
    display: block;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:481px) {
  .gallery a img {
    width: 49%;
  }

  .gallery a:nth-last-child(2) img{
    margin-bottom: 0px;
  }
}
