<div ng-show="!loggedIn">
    <!--<form role="form" ng-submit="submit()">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" ng-model="username" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>
    <div ng-show="invalidLogIn" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Username of wachtwoord onjuist.
    </div>
    <br>-->
    Sorry markie, maar dit werkt niet meer....
</div>
<div ng-show="loggedIn" data-ng-init="init()">
    <a ng-click="logOff()" class="btn btn-default">log uit</a>
    <a ng-href="/Adminfool/Create" class="btn btn-default">Create</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Plaats</th>
            <th>Cafe</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="showPerformance({{optreden.id}})" ng-repeat="optreden in results">
            <td>
                <div class="hidden-small-screen">
                    {{optreden.date | date:'d MMMM yyyy'}}
                </div>
                <div class="visible-small-screen">
                    {{optreden.date | date:'d MMM'}}
                </div>
            </td>
            <td>
                <div ng-show="optreden.typeOfParty == 'open'">
                    {{optreden.begintime && optreden.endtime ? optreden.begintime + "-" + optreden.endtime : (optreden.begintime || "----")}}
                </div>
                <div ng-show="optreden.typeOfParty != 'open'">
                    besloten
                </div>
            </td>
            <td>
                {{optreden.place}}
            </td>
            <td>
                {{optreden.typeOfParty == 'open' ? (optreden.cafe || "----") : 'Besloten'}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
