<div>
    <form class="form-horizontal" role="form" ng-submit="create(result)">
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Datum:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{result.date | date:'yyyy-MM-dd'}}" id="date">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="begintime">Begintijd:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="result.beginTime" id="begintime">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endtime">Eindtijd:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="result.endTime" id="endtime">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="plaats">Plaats:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="result.place" id="plaats">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cafe">Cafe:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="result.cafe" id="cafe">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="result.typeOfParty">Open?</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
    <a href="/Adminfool/Index">&laquo Terug</a>
</div>